# App version (semver)
APP_VERSION=1.0.0

# SubLinks API server URL
SUBLINKS_API_URL=https://your-api-server.com

# Update service
UPDATE_API_URL=https://your-update-api.com
UPDATE_APP_NAME=sublinks-client-desktop
UPDATE_ENABLED=true
